<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<h1>Search by Leading Actor</h1>
<form action="/search-director/results" method="post">
  <input type="text" name="director" placeholder="Director Name" />
  <input type="submit" name="submit" value="submit" />
</form>

<% include ../partials/footer%>
<% include ../partials/end%>
