
<div class="navContain">
<a href="/">
<img class="logo" src="http://media.giphy.com/channel_assets/entertainment/h2UuV7nZZyrT.gif" alt="">
</a>
<ul class="navLinkContain">
  <li><a href="/about">About</a></li>
  <li><a href="/auth/register">Register</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/">Home</a></li>
</ul>
</div>
