
<div class="navContain">
<a href="/">
<img class="logo" src="http://media.giphy.com/channel_assets/entertainment/h2UuV7nZZyrT.gif" alt="">
</a>
<div class="navLinkContain">
  <a href="/about" class="navLink1">About</a>
  <a href="/auth/register" class="navLink2">Register</a>
  <a href="/profile" class="navLink3">Profile</a>
  <a href="/" class="navLink4">Home</a></li>
</div>
</div>
