

 <div class="newComment">
  <form action="/comments/new" method="post">
    <textarea name="comment" placeholder="Add a new comment here"></textarea>
    <input type="submit" name="submit" value="submit" />
  </form>
</div>
