<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<h1 class="searchHeaderCopy">Edit this comment!</h1>
<form class="form1" action="/comments/update" method="POST">
  <input type="hidden" value="<%=comment.id%>" name="comment_id" />
  <textarea class="comment" name="comment"><%=comment.comment%></textarea>
  <button class="button1" type="submit">Submit</button>
</form>

<% include ../partials/footer%>
<% include ../partials/end%>
