<% include partials/boilerplate %>
<% include partials/nav %>

<h1 class="erroCopy">We can't find your page.<br>We appologise with some awesome Fail Vines!</h1>
<div class="iframeContain">
<iframe width="560" height="315" src="https://www.youtube.com/embed/fcTh3nbQS5w" frameborder="0" allowfullscreen ></iframe>
</div>


<% include partials/footer%>
<% include partials/end%>
