<% include partials/boilerplate %>
<% include partials/nav %>

<!-- Add about copy here -->

<h1 class="indexHeaderCopy">About:</h1>
<p class="aboutCopy">This app is an easy way to find all the information about your
favorite movies and T.V. shows that are currently available on Netflix.
As a user you can search by title, director, or leading actor. You
also, have the functionality to create an account and save your favorite
movies as well as add comments to them. These movies and comments will be
saved forever and will always be available to you.</p>

<% include partials/footer%>
<% include partials/end%>
