<% include partials/boilerplate %>
<% include partials/nav %>

<h1 class="indexHeaderCopy">Welcome to the Netflix Query</h1>

<div class="searchOptionsContain">

  <a href="/search-title/">
  <div class="titleSearch">
    <p>Search by Title</p>
  </div>
  </a>
  <a href="/search-director/">
    <div class="directorSearch">
      <p>Search by Director</p>
    </div>
  </a>

  <a href="/search-actor/">
  <div class="actorSearch">
    <p>Search by leading actor</p>
  </div>
  </a>

  <div class="empty">
  <p>Just for style</p>
  </div>
</div>
<% include partials/footer%>
<% include partials/end%>
