<% include partials/boilerplate %>

<h1>Welcome to the Netflix <br/> & <br/> Poster Query</h1>

<div class="titleSearch">
  <a href="/search-title/">Search by Title and Year</a>
</div>

<div class="directorSearch">
  <a href="/search-director/">Search by Director</a>
</div>

<div class="actorSearch">
  <a href="/search-actor/">Search by leading actor</a>
</div>

<% include partials/footer%>
<% include partials/end%>
