<% include partials/boilerplate %>

<h1>Welcome to the Netflix <br/> & <br/> Poster Query</h1>

<div class="titleSearch">
  <a href="#">Search by Title and Year</a>
</div>

<div class="directorSearch">
  <a href="#">Search by Director</a>
</div>

<div class="actorSearch">
  <a href="#">Search by leading actor</a>
</div>

<% include partials/footer%>
<% include partials/end%>
