<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<h1>Search by Director</h1>
<form action="/search-actor/results" method="post">
  <input type="text" name="actor" placeholder="Actor Name" />
  <input type="submit" name="submit" value="submit" />
</form>

<% include ../partials/footer%>
<% include ../partials/end%>
