<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<h1 class="searchHeaderCopy">Search by Leading Actor</h1>
<form class="searchForm" action="/search-actor/results" method="post">
  <input class="searchField" type="text" name="actor" placeholder="Actor Name" />
  <input class="button" type="submit" name="submit" value="submit" />
</form>

<% include ../partials/footer%>
<% include ../partials/end%>
