body{
  background-color: rgb(240, 88, 92);
}

.navContain{
  height: 20vh;
  width: 100vw;
}
.logo{
  height: 15vh;
}

.navLinkContain{
  float: right;
  display: inline-flex;
  margin-left: 10px;
}
.footer{
  height: 10vh;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.userMovies{
  width: 600px;
  height: 100px;
  overflow: scroll;
  margin-bottom: 5%;
}

.userComments{
  width: 600px;
  height: 100px;
  overflow: scroll;
}
