<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<h1 class="searchHeaderCopy">Search by Title</h1>
<form class="searchForm" action="/search-title/results" method="post">
  <input class="searchField" type="text" name="title" placeholder="title" />
  <input class="button" type="submit" name="submit" value="submit" />
</form>

<% include ../partials/footer%>
<% include ../partials/end%>
