<% include ../partials/boilerplate %>
<% include ../partials/nav %>

<h1>Search by Title</h1>
<form action="/search-title/results" method="post">
  <input type="text" name="title" placeholder="title" />
  <input type="submit" name="submit" value="submit" />
</form>

<% include ../partials/footer%>
<% include ../partials/end%>
